.contact-container {
    margin: 3rem 1rem;
}

.contact-titles {
    display: flex;
    flex-direction: column;
}

.contact-title1 {
    font-size: 32px;
    text-align: center;
}

.contact-title2 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 80%;
    margin: 1rem auto 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.contactForm-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contactForm-input-container {
    height: 3rem;
}

.contactForm-input-container input,
select {
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 0 .3rem;
    border: 1px solid #ccc;
}

.contactForm-textarea-container {
    height: 6rem;
}

.contactForm-textarea-container textarea {
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: .3rem .3rem 0;
    border: 1px solid #ccc;
    resize: none;
    max-height: 300px;
}

.contactForm-input-container input:focus,
.contactForm-input-container select:focus,
.contactForm-textarea-container textarea:focus {
    outline: 1px solid #8b8b8b;
}

.contactForm-input-container-submit {
    width: 100%;
    height: 3rem;
    text-align: center;
}

.contactForm-input-container-submit input {
    width: 100%;
    height: 100%;
    background-color: #353535;
    color: #fff;
    font-size: 16px;
}

#form-field-privacy {
    cursor: pointer;
}

.contactForm-checkbox-privacy label {
    cursor: pointer;
    font-size: 14px;
}

@media (min-width: 768px) {
    .contact-title1 {
        font-size: 36px;
    }

    .contact-title2 {
        font-size: 24px;
    }

    .contact-container {
        margin: 3rem 8rem;
    }
}

@media (min-width: 1440px) {
    .contactForm-form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contactForm-input-container {
        width: 40%;
    }

    .contactForm-textarea-container {
        width: 90%;
    }

    .contactForm-input-container-submit {
        width: 30%;
    }

    .contactForm-checkbox-privacy {
        align-items: center;
    }

    .date-data{
        width: 90%;
    }
}