main {
  margin: 1rem;
}

.no-scroll {
  overflow: hidden;
}

.overlay-active {
  height: 0vh;
  width: 0vw;
  top: 0;
  position: absolute;
  z-index: 1;
  background: rgba(17, 17, 17, .5);
  opacity: 0;
}

.overlay-active.active {
  height: 1000vh;
  width: 100vw;
  top: 0;
  position: absolute;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.slider-article {
  width: 100%;
  height: 100%;
}

.slider-article img {
  height: 100%;
  object-fit: cover;
}

.swiper-juani {
  top: -6rem;
  z-index: -100 !important;
  height: 100vh;
  filter: brightness(.5);
}

.down-section {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  transform: translate(-50%, -50%);
  color: #fff;
}

.down-section.active {
  display: none;
}

.slider-container {
  display: flex;
  justify-content: center;
}

.slider-title {
  position: absolute;
  top: 12rem;
  margin: 0 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  color: #fff;
  align-items: center;
}

.slider-title h1,
.slider-title p {
  text-align: center;
}


.slider-stars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  color: #fff;
  gap: .5rem;
}

.slider-stars svg {
  width: 1rem;
  height: 1rem;
}

.header-video-container {
  width: 100%;
  height: 100vh;
  position: relative;
  top: -6rem;
  display: flex;
  justify-content: center;
}

.header-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.booking-engine {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.booking-engine a{
  color: #fff;
}

.booking-engine.active {
  opacity: 1;
  position: sticky;
  bottom: 0;
  width: 100vw;
  height: 4rem;
  background: #67a565;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

@media (min-width: 768px) {
  .slider-title {
    margin: 0 2rem;
  }

  .slider-title h1 {
    font-size: 36px;
  }

  .slider-title p {
    font-size: 20px;
  }

  .slider-stars svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}



@media (min-width: 1024px) {
  .slider-title {
    margin: 0 5rem;
    height: 50vh;
    justify-content: center;
    width: 53rem;
  }
}

@media (min-width: 1440px) {
  .slider-title h1 {
    font-size: 40px;
  }

  .slider-title p {
    font-size: 22px;
  }

}